* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}


@media (min-width: 620px) {
    .App {
        width: 600px;
        transition: 0.5s;
    }    
}

@media (min-width: 820px) {
    .App {
        width: 800px;
        transition: 0.5s;
    }    
}

.App {
    padding-top: 20px;
}

.post {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid aqua;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.PostList {
    padding-top: 50px;
}

.AddForm {
    width: 600px;
}

.BlockPost {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.post-enter {
    opacity: 0;
    transform: translateX(-500px);
  }

.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
  }

.post-exit {
    opacity: 1;
    transform: translateX(0);
  }

.post-exit-active {
    opacity: 0;
    transform: translateX(-500px);
    transition: all 500ms ease-in;
  }

  .page__wrapper {
    margin-top: 30px;
    display: flex;
  }

  .page {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }

  .page:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.1s;
  }

  .page__current {
    border: 2px solid orangered;
    font-weight: 700;
    background: none;
    cursor:default;
  }

  .page__current:hover {
    background: none;
}